.acm-caseoverview-portlet {
	
	.table th { font-weight:bold !important; }
	.table th, .table td { line-height:20px; text-aling:left; }
	.table td { vertical-align:middle; }
	
	.table-bordered {
		border:1px solid #ddd;
		border-collapse:separate;
		border-radius:4px;
	}
	
	.table-condensed th {
		padding:4px 5px;
	}
}